body {  
    font-family: 'Arial', sans-serif;  
    background-color: #f4f8fb;  
    margin: 0;  
    padding: 0;  
}  

.container {  
    width: 100%;  
    max-width: 400px;  
    margin: 50px auto;  
    padding: 20px;  
    background: #ffffff;  
    border-radius: 10px;  
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);  
}  

.logo{
    width: 70%;
}



h1 {  
    text-align: center;  
    color: #333;  
    margin-bottom: 20px;  
}  
 
.form {  
    display: none;  
}  

.form.active {  
    display: block;  
}  

.form-logo {  
    display: block;  
    margin: 0 auto 20px;  
    width: 180px;  
    height: auto;  
}  
  
.input-group {  
    margin-bottom: 20px; 
    width: 380px; 
}  

 select
{
    width: 380px;
}

input[type="text"],  
input[type="email"],  
input[type="password"],  
input[type="number"],  
select {  
    width: 100%;  
    padding: 12px;  
    border: 1px solid #ccc;  
    border-radius: 5px;  
}  

input:focus,  
select:focus {  
    border-color: #28a745;  
    outline: none;  
}  

button {  
    width: 100%;  
    padding: 12px;  
    background-color: #28a745;  
    border: none;  
    border-radius: 5px;  
    color: white;  
    font-size: 18px;  
    font-weight: bold;  
    cursor: pointer;  
}  

button:hover {  
    background-color: #218838;  
}  

.switch-form {  
    text-align: center;  
    margin-top: 20px;  
    font-size: 14px;  
}  
 
.switch-form a {  
    color: #007bff;  
    text-decoration: none;  
}  
 
@media (max-width: 480px) {  
    .container {  
        width: 90%;  
    }  
}