
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0074d9;
}
header {  
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
    padding: 10px 15px; 
    background-color: black; 
    color: white; 
}  

header .logo{
   display: flex;
   align-items: center;
   
}
.logo-container {  
    display: flex;  
    align-items: center; }






header .logo img{
    height: 30px;
    margin-right: 20px;
    width: 150px; 
    height: auto; 
   margin-bottom: 100px;
}

nav ul {  
    display: flex;  
    list-style-type: none;  
    padding: 0; 
    margin: 0}
    nav ul li {  
        margin: 0 5px; 
    }  

nav li{
    margin: 0 15px;
}

nav ul li a {  
    color: white;  
    text-decoration: none; 
    font-size: 14px; 
}  
nav a{
    text-decoration: none;
    color:white;
    font-size: 18px;
}
nav a:hover{
    color:#f39c12
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-top: 10px;
}


.mission, .company-info, .offerings, .why-choose-us {
    margin-bottom: 40px;
    text-align: center;
}

.mission h2, .company-info h2, .offerings h2, .why-choose-us h2 {
    font-size: 2.2em;
    margin-bottom: 15px;
}

.mission p, .company-info p, .why-choose-us p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.mission .customer-image {
    width: 80%;
    max-width: 500px;
    height: 200px;
    object-fit: contain;
}

.offerings h2 {
    font-size: 2.5em;
}
.container p{
    color: white;
}
.offers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.offering {
    text-align: center;
    width: 30%;
    min-width: 270px;
}

.offering-image {
    width: 100%;
    max-width: 300px;
    height: 210px;
    margin-bottom: 15px;
}

.offering strong {
    display: block;
    margin-top: 10px;
    font-size: 1.3em;
}


.why-choose-us p {
    line-height: 1.6;
}


footer {
    text-align: center;
    font-size: 1.1em;
    margin-top: 40px;
    padding: 20px;
    background-color: #0074d9;
}
